##  Task 1: Data Cleaning and Preprocessing

In [6]:
import pandas as pd

# Load dataset
df = pd.read_csv(r'/Users/sahilraza/Documents/Codveda _Internship/iris.csv', encoding='unicode_escape')

# First few rows dekhne ke liye
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Missing value

In [9]:
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
# Check duplicates
print(df.duplicated().sum())

# Remove duplicates
df = df.drop_duplicates()

3

In [13]:
# Check duplicates
print(df.duplicated().sum())

# Remove duplicates
df = df.drop_duplicates()

0

In [17]:
# Example: Species column mein inconsistent text ho sakta hai
df['species'] = df['species'].str.lower().str.strip()

In [21]:
df.to_csv("cleaned_iris.csv", index=False)
print("Data cleaned and saved successfully.")

Data cleaned and saved successfully.